.cataGory {
  display: flex;
  overflow-x: auto;
}
.cataGory::-webkit-scrollbar {
  display: none;
}

.cataGory div {
  margin: 5px;
 width: 250px;
   height: 100px;
 display: flex;
   justify-content: center;
 align-items: center;
   font-family: clear Sans;
  font-size: 20px;
  font-style: bold;
  background-size: 125px 100px;
  border-radius: 3px;
}
h2 {
  margin-left: 15px;
}

/* .product div {
  height: 200px;
  width: 200px;
  
} */
.proItem {
  margin-top: 50px;
  display: flex;
}

.proItem img {
  height: 30vw;
  margin-top: 5vh;
}

.stock {
  height: 40px;
  width: 130px;
  background-color: rgb(76, 216, 76);
  color:whitesmoke;
  border: 0px;
}
.nostock {
  height: 40px;
  width: 130px;
  background-color: rgb(121, 126, 121);
  color:whitesmoke;
  border: 0px;
}


.viewall {
  border:1px solid rgba(61, 60, 60, 0.431);
  
  
}

.view,.cataGory {
  cursor: pointer;
}

.footer {
  margin-top: 5vh;
}

.selcat {
  margin-left: 3vw;
}
.selcat span {
  font-weight: bold;
  font-size: 16px;
  margin-left: 1vw;
}

.footer Button {
   text-transform: lowercase;
  
}
Button {
  margin-right: 5vw;
}

/* .footer {
  display:flex;
  
  justify-content:space-between ;
} */
.view{
  margin-left: 0vw;
  border-width: 0px;
}

.rightfooter{
  position: relative;
  left: 50vw;
  bottom: 4vh;
}